# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/.serverless/
/.serverless_nextjs/

# next.js
/.next/

# production
/.dist

# misc
.DS_Store
/certificates/*.key
*.pem

# debug
npm-debug.log*

# local env files
.env