.body {
  min-height: 100dvh;

  display: grid;
  grid-template-rows: min-content auto;

  background-color: var(--sand-1);
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: var(--sand-12);
  }
}
