:root {
  /* Colors */
  --transparent: "transparent";
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --gray-100: hsl(205, 46%, 98%);
  --gray-200: hsl(211, 39%, 95%);
  --gray-300: hsl(215, 32%, 92%);
  --gray-400: hsl(212, 26%, 84%);
  --gray-500: hsl(214, 21%, 70%);
  --gray-600: hsl(216, 15%, 52%);
  --gray-700: hsl(219, 17%, 35%);
  --gray-800: hsl(218, 24%, 23%);
  --gray-900: hsl(220, 26%, 14%);

  --red-100: hsl(0, 100%, 99%);
  --red-200: hsl(0, 96%, 92%);
  --red-300: hsl(0, 98%, 85%);
  --red-400: hsl(0, 96%, 75%);
  --red-500: hsl(0, 88%, 68%);
  --red-600: hsl(0, 77%, 58%);
  --red-700: hsl(0, 61%, 49%);
  --red-800: hsl(0, 56%, 40%);
  --red-900: hsl(0, 47%, 31%);

  --orange-100: hsl(40, 100%, 98%);
  --orange-200: hsl(39, 97%, 90%);
  --orange-300: hsl(39, 94%, 77%);
  --orange-400: hsl(33, 90%, 65%);
  --orange-500: hsl(28, 84%, 58%);
  --orange-600: hsl(24, 75%, 50%);
  --orange-700: hsl(20, 71%, 45%);
  --orange-800: hsl(17, 66%, 38%);
  --orange-900: hsl(15, 61%, 30%);

  --yellow-100: hsl(60, 100%, 98%);
  --yellow-200: hsl(59, 97%, 88%);
  --yellow-300: hsl(55, 92%, 76%);
  --yellow-400: hsl(52, 90%, 67%);
  --yellow-500: hsl(47, 81%, 61%);
  --yellow-600: hsl(40, 68%, 51%);
  --yellow-700: hsl(36, 72%, 42%);
  --yellow-800: hsl(32, 75%, 34%);
  --yellow-900: hsl(31, 76%, 26%);

  --green-100: hsl(137, 100%, 98%);
  --green-200: hsl(139, 73%, 88%);
  --green-300: hsl(141, 61%, 76%);
  --green-400: hsl(143, 55%, 62%);
  --green-500: hsl(146, 46%, 51%);
  --green-600: hsl(148, 49%, 43%);
  --green-700: hsl(150, 48%, 36%);
  --green-800: hsl(152, 46%, 28%);
  --green-900: hsl(153, 43%, 24%);

  --teal-100: hsl(168, 100%, 96%);
  --teal-200: hsl(171, 78%, 83%);
  --teal-300: hsl(173, 67%, 71%);
  --teal-400: hsl(175, 59%, 57%);
  --teal-500: hsl(178, 53%, 46%);
  --teal-600: hsl(179, 51%, 40%);
  --teal-700: hsl(181, 48%, 33%);
  --teal-800: hsl(184, 42%, 27%);
  --teal-900: hsl(186, 41%, 23%);

  --blue-100: hsl(201, 100%, 97%);
  --blue-200: hsl(202, 81%, 86%);
  --blue-300: hsl(204, 82%, 77%);
  --blue-400: hsl(206, 80%, 66%);
  --blue-500: hsl(208, 73%, 58%);
  --blue-600: hsl(210, 62%, 50%);
  --blue-700: hsl(211, 61%, 43%);
  --blue-800: hsl(214, 50%, 35%);
  --blue-900: hsl(215, 42%, 29%);

  --indigo-100: hsl(213, 100%, 97%);
  --indigo-200: hsl(217, 97%, 89%);
  --indigo-300: hsl(221, 90%, 81%);
  --indigo-400: hsl(226, 86%, 73%);
  --indigo-500: hsl(230, 76%, 66%);
  --indigo-600: hsl(234, 62%, 60%);
  --indigo-700: hsl(238, 48%, 53%);
  --indigo-800: hsl(242, 38%, 41%);
  --indigo-900: hsl(247, 33%, 32%);

  --purple-100: hsl(270, 100%, 99%);
  --purple-200: hsl(268, 91%, 92%);
  --purple-300: hsl(266, 87%, 86%);
  --purple-400: hsl(262, 82%, 77%);
  --purple-500: hsl(260, 73%, 70%);
  --purple-600: hsl(259, 60%, 60%);
  --purple-700: hsl(259, 50%, 52%);
  --purple-800: hsl(256, 44%, 42%);
  --purple-900: hsl(255, 42%, 34%);

  --pink-100: hsl(349, 100%, 99%);
  --pink-200: hsl(344, 96%, 92%);
  --pink-300: hsl(340, 90%, 85%);
  --pink-400: hsl(337, 87%, 75%);
  --pink-500: hsl(332, 80%, 67%);
  --pink-600: hsl(330, 65%, 55%);
  --pink-700: hsl(326, 58%, 46%);
  --pink-800: hsl(323, 60%, 38%);
  --pink-900: hsl(319, 52%, 30%);

  --text-color: var(--gray-900);
  --text-color: var(--white);
}
