a {
  color: var(--text-color);
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--sand-11);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a:visited,
a:hover,
a:active {
  color: var(--text-color);
  text-decoration-color: var(--text-color);
  text-decoration-thickness: initial;
}
