select,
option {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--s-5);
  border-style: solid;
  border-width: var(--s-6);
  font-size: var(--font-size-0);
  line-height: 1.5;
  padding: var(--s-1);
}

/* Internet Explorer */
select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
