:root {
  --outline: var(--sand-12);
  --outline-width: 1px;
}

*:focus {
  outline-color: var(--outline);
  outline-width: var(--outline-width);
  outline-style: dotted;
}

a[href],
area[href],
button,
details,
input,
iframe,
select,
textarea,
[contentEditable=""],
[contentEditable="true"],
[contentEditable="TRUE"],
[tabindex]:not([tabindex^="-"]) {
  margin: var(--outline-width);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
