@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --text-color: var(--sand-12);
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Roboto Serif", serif;
  color: var(--text-color);
  word-break: break-word;
  font-size: var(--font-size-0);
}

h1,
h2,
h3,
h4,
h5,
.h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: var(--s0);
  margin-top: var(--s1);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h1 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: var(--s-3);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5,
.h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}
